.card {
  margin: 15% 25%;
  padding: 1rem;
  width: 500px;
  text-align: center;
  box-shadow: -3px -10px 129px 10px rgba(0,0,0,0.75);
  border-radius: 15px;
}
.autor{
  display: flex;
  justify-content:end;
  margin-right: 40px;
}
.button{
 
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
button{
  cursor: pointer;
  border: none;
  background-color: rgba(0, 255, 255, 0);

}

